<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="soUMeCv/zO2M2tVJjqduuG6witHFntQQSXFlcGwBJFvMM5+Fvbu84ODcTNtM8Sn3rNbio0yRAo72p0ZX3II6Xw==" />
    <link rel="stylesheet" media="all" href="/assets/stylesheet/homes.css" data-turbolinks-track="reload">
    <script src="/assets/stylesheet/homes.css" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <h1>
      ようこそ
      <strong>Bookers</strong>
      へ！
    </h1>
    <p>
      <strong>Bookers</strong>
      では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>印象を共有し交換することができます</p>
    <p>
      <a href="/books">start</a>
    </p>
  </body>
</html>